
html {
    height: 100%;
}
body {
    width: 900px;
    margin: 0 auto;
    font-family: monospace;
    height: 100%;
    background-image: radial-gradient(white, rgb(230,200,172));
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1 {
    text-align: center;
    font-size: 40px;
}


a {
    text-decoration: none;
}

.card:hover {
    transform: translateY(-10px);
}

.card {
    margin: 20px;
    display: inline-block;
    width: 200px;
    padding: 20px;
    background-color: rgb(246, 236, 226);
    border-radius: 10px;
    box-shadow: 7px 5px 8px #b4b4b4;
    /* outline: red solid 1px; */
}
img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
}